<project>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="Model"/>
      <dir
        name="node_modules">
        <dir
          name="@types">
          <dir
            name="babel-types">
            <dir
              name="ts3.6"/>
          </dir>
          <dir
            name="babylon"/>
        </dir>
        <dir
          name="accepts"/>
        <dir
          name="acorn">
          <dir
            name="bin"/>
          <dir
            name="dist"/>
          <dir
            name="rollup"/>
          <dir
            name="src">
            <dir
              name="bin"/>
            <dir
              name="loose"/>
            <dir
              name="walk"/>
          </dir>
        </dir>
        <dir
          name="acorn-globals">
          <dir
            name="node_modules">
            <dir
              name="acorn">
              <dir
                name="dist"/>
              <dir
                name="src">
                <dir
                  name="bin"/>
                <dir
                  name="loose"/>
                <dir
                  name="walk"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="align-text"/>
        <dir
          name="amdefine"/>
        <dir
          name="array-flatten"/>
        <dir
          name="asap"/>
        <dir
          name="babel-runtime">
          <dir
            name="core-js">
            <dir
              name="array"/>
            <dir
              name="error"/>
            <dir
              name="json"/>
            <dir
              name="math"/>
            <dir
              name="number"/>
            <dir
              name="object"/>
            <dir
              name="reflect"/>
            <dir
              name="regexp"/>
            <dir
              name="string"/>
            <dir
              name="symbol"/>
            <dir
              name="system"/>
          </dir>
          <dir
            name="helpers"/>
          <dir
            name="regenerator"/>
        </dir>
        <dir
          name="babel-types">
          <dir
            name="lib">
            <dir
              name="definitions"/>
          </dir>
        </dir>
        <dir
          name="babylon">
          <dir
            name="bin"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="basic-auth"/>
        <dir
          name="body-parser">
          <dir
            name="lib">
            <dir
              name="types"/>
          </dir>
        </dir>
        <dir
          name="bytes"/>
        <dir
          name="camelcase"/>
        <dir
          name="center-align"/>
        <dir
          name="character-parser"/>
        <dir
          name="clean-css">
          <dir
            name="lib">
            <dir
              name="colors"/>
            <dir
              name="imports"/>
            <dir
              name="properties"/>
            <dir
              name="selectors"/>
            <dir
              name="source-maps"/>
            <dir
              name="stringifier"/>
            <dir
              name="text"/>
            <dir
              name="tokenizer"/>
            <dir
              name="urls"/>
            <dir
              name="utils"/>
          </dir>
        </dir>
        <dir
          name="cliui">
          <dir
            name="test"/>
        </dir>
        <dir
          name="commander"/>
        <dir
          name="constantinople">
          <dir
            name="lib"/>
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="content-disposition"/>
        <dir
          name="content-type"/>
        <dir
          name="cookie"/>
        <dir
          name="cookie-parser"/>
        <dir
          name="cookie-signature"/>
        <dir
          name="core-js">
          <dir
            name="build"/>
          <dir
            name="client"/>
          <dir
            name="core"/>
          <dir
            name="es5"/>
          <dir
            name="es6"/>
          <dir
            name="es7"/>
          <dir
            name="fn">
            <dir
              name="array">
              <dir
                name="virtual"/>
            </dir>
            <dir
              name="date"/>
            <dir
              name="dom-collections"/>
            <dir
              name="error"/>
            <dir
              name="function">
              <dir
                name="virtual"/>
            </dir>
            <dir
              name="json"/>
            <dir
              name="map"/>
            <dir
              name="math"/>
            <dir
              name="number">
              <dir
                name="virtual"/>
            </dir>
            <dir
              name="object"/>
            <dir
              name="promise"/>
            <dir
              name="reflect"/>
            <dir
              name="regexp"/>
            <dir
              name="set"/>
            <dir
              name="string">
              <dir
                name="virtual"/>
            </dir>
            <dir
              name="symbol"/>
            <dir
              name="system"/>
            <dir
              name="typed"/>
            <dir
              name="weak-map"/>
            <dir
              name="weak-set"/>
          </dir>
          <dir
            name="library">
            <dir
              name="core"/>
            <dir
              name="es5"/>
            <dir
              name="es6"/>
            <dir
              name="es7"/>
            <dir
              name="fn">
              <dir
                name="array">
                <dir
                  name="virtual"/>
              </dir>
              <dir
                name="date"/>
              <dir
                name="dom-collections"/>
              <dir
                name="error"/>
              <dir
                name="function">
                <dir
                  name="virtual"/>
              </dir>
              <dir
                name="json"/>
              <dir
                name="map"/>
              <dir
                name="math"/>
              <dir
                name="number">
                <dir
                  name="virtual"/>
              </dir>
              <dir
                name="object"/>
              <dir
                name="promise"/>
              <dir
                name="reflect"/>
              <dir
                name="regexp"/>
              <dir
                name="set"/>
              <dir
                name="string">
                <dir
                  name="virtual"/>
              </dir>
              <dir
                name="symbol"/>
              <dir
                name="system"/>
              <dir
                name="typed"/>
              <dir
                name="weak-map"/>
              <dir
                name="weak-set"/>
            </dir>
            <dir
              name="modules"/>
            <dir
              name="stage"/>
            <dir
              name="web"/>
          </dir>
          <dir
            name="modules">
            <dir
              name="library"/>
          </dir>
          <dir
            name="stage"/>
          <dir
            name="web"/>
        </dir>
        <dir
          name="debug">
          <dir
            name="src"/>
        </dir>
        <dir
          name="decamelize"/>
        <dir
          name="depd">
          <dir
            name="lib">
            <dir
              name="browser"/>
            <dir
              name="compat"/>
          </dir>
        </dir>
        <dir
          name="destroy"/>
        <dir
          name="doctypes"/>
        <dir
          name="ee-first"/>
        <dir
          name="encodeurl"/>
        <dir
          name="escape-html"/>
        <dir
          name="esutils">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="etag"/>
        <dir
          name="express">
          <dir
            name="lib">
            <dir
              name="middleware"/>
            <dir
              name="router"/>
          </dir>
          <dir
            name="node_modules">
            <dir
              name="cookie"/>
          </dir>
        </dir>
        <dir
          name="finalhandler"/>
        <dir
          name="forwarded"/>
        <dir
          name="fresh"/>
        <dir
          name="function-bind">
          <dir
            name="test"/>
        </dir>
        <dir
          name="graceful-readlink"/>
        <dir
          name="has">
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="has-symbols">
          <dir
            name="test">
            <dir
              name="shams"/>
          </dir>
        </dir>
        <dir
          name="http-errors"/>
        <dir
          name="iconv-lite">
          <dir
            name="encodings"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="inherits"/>
        <dir
          name="ipaddr.js">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="is-buffer">
          <dir
            name="test"/>
        </dir>
        <dir
          name="is-core-module">
          <dir
            name="test"/>
        </dir>
        <dir
          name="is-expression">
          <dir
            name="node_modules">
            <dir
              name="acorn">
              <dir
                name="dist"/>
              <dir
                name="src">
                <dir
                  name="bin"/>
                <dir
                  name="loose"/>
                <dir
                  name="walk"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="is-promise"/>
        <dir
          name="is-regex">
          <dir
            name="test"/>
        </dir>
        <dir
          name="js-stringify">
          <dir
            name="test"/>
        </dir>
        <dir
          name="jstransformer"/>
        <dir
          name="kind-of"/>
        <dir
          name="lazy-cache"/>
        <dir
          name="lodash">
          <dir
            name="fp"/>
        </dir>
        <dir
          name="longest"/>
        <dir
          name="media-typer"/>
        <dir
          name="merge-descriptors"/>
        <dir
          name="methods"/>
        <dir
          name="mime">
          <dir
            name="build"/>
        </dir>
        <dir
          name="mime-db"/>
        <dir
          name="mime-types"/>
        <dir
          name="morgan"/>
        <dir
          name="ms"/>
        <dir
          name="negotiator">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="object-assign"/>
        <dir
          name="on-finished"/>
        <dir
          name="on-headers"/>
        <dir
          name="parseurl"/>
        <dir
          name="path-parse"/>
        <dir
          name="path-to-regexp"/>
        <dir
          name="promise">
          <dir
            name="domains"/>
          <dir
            name="lib"/>
          <dir
            name="setimmediate"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="proxy-addr"/>
        <dir
          name="pug">
          <dir
            name="examples">
            <dir
              name="includes"/>
          </dir>
          <dir
            name="lib"/>
          <dir
            name="support"/>
          <dir
            name="test">
            <dir
              name="browser"/>
            <dir
              name="cases">
              <dir
                name="auxiliary"/>
            </dir>
            <dir
              name="cases-es2015"/>
            <dir
              name="duplicate-block"/>
            <dir
              name="fixtures">
              <dir
                name="append"/>
              <dir
                name="prepend"/>
              <dir
                name="prepend-without-block"/>
            </dir>
            <dir
              name="output"/>
            <dir
              name="output-es2015"/>
          </dir>
        </dir>
        <dir
          name="pug-attrs"/>
        <dir
          name="pug-code-gen"/>
        <dir
          name="pug-error"/>
        <dir
          name="pug-filters">
          <dir
            name="lib"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="pug-lexer">
          <dir
            name="test">
            <dir
              name="cases"/>
          </dir>
        </dir>
        <dir
          name="pug-linker">
          <dir
            name="test">
            <dir
              name="cases-src">
              <dir
                name="auxiliary"/>
            </dir>
            <dir
              name="fixtures">
              <dir
                name="append"/>
              <dir
                name="prepend"/>
              <dir
                name="prepend-without-block"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="pug-load"/>
        <dir
          name="pug-parser">
          <dir
            name="lib"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="pug-runtime">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="pug-strip-comments"/>
        <dir
          name="pug-walk"/>
        <dir
          name="qs">
          <dir
            name="dist"/>
          <dir
            name="lib"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="range-parser"/>
        <dir
          name="raw-body"/>
        <dir
          name="regenerator-runtime"/>
        <dir
          name="repeat-string"/>
        <dir
          name="resolve">
          <dir
            name="example"/>
          <dir
            name="lib"/>
          <dir
            name="test">
            <dir
              name="dotdot">
              <dir
                name="abc"/>
            </dir>
            <dir
              name="module_dir">
              <dir
                name="xmodules">
                <dir
                  name="aaa"/>
              </dir>
              <dir
                name="ymodules">
                <dir
                  name="aaa"/>
              </dir>
              <dir
                name="zmodules">
                <dir
                  name="bbb"/>
              </dir>
            </dir>
            <dir
              name="node_path">
              <dir
                name="x">
                <dir
                  name="aaa"/>
                <dir
                  name="ccc"/>
              </dir>
              <dir
                name="y">
                <dir
                  name="bbb"/>
                <dir
                  name="ccc"/>
              </dir>
            </dir>
            <dir
              name="pathfilter">
              <dir
                name="deep_ref"/>
            </dir>
            <dir
              name="precedence">
              <dir
                name="aaa"/>
              <dir
                name="bbb"/>
            </dir>
            <dir
              name="resolver">
              <dir
                name="baz"/>
              <dir
                name="browser_field"/>
              <dir
                name="dot_main"/>
              <dir
                name="dot_slash_main"/>
              <dir
                name="incorrect_main"/>
              <dir
                name="multirepo">
                <dir
                  name="packages">
                  <dir
                    name="package-a"/>
                  <dir
                    name="package-b"/>
                </dir>
              </dir>
              <dir
                name="nested_symlinks">
                <dir
                  name="mylib"/>
              </dir>
              <dir
                name="other_path">
                <dir
                  name="lib"/>
              </dir>
              <dir
                name="quux">
                <dir
                  name="foo"/>
              </dir>
              <dir
                name="same_names">
                <dir
                  name="foo"/>
              </dir>
              <dir
                name="symlinked">
                <dir
                  name="_">
                  <dir
                    name="node_modules"/>
                </dir>
                <dir
                  name="package"/>
              </dir>
              <dir
                name="without_basedir"/>
            </dir>
            <dir
              name="shadowed_core">
              <dir
                name="node_modules">
                <dir
                  name="util"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="right-align"/>
        <dir
          name="safe-buffer"/>
        <dir
          name="safer-buffer"/>
        <dir
          name="send"/>
        <dir
          name="serve-static"/>
        <dir
          name="setprototypeof"/>
        <dir
          name="source-map">
          <dir
            name="build"/>
          <dir
            name="lib">
            <dir
              name="source-map"/>
          </dir>
        </dir>
        <dir
          name="statuses"/>
        <dir
          name="to-fast-properties"/>
        <dir
          name="token-stream">
          <dir
            name="test"/>
        </dir>
        <dir
          name="type-is"/>
        <dir
          name="uglify-js">
          <dir
            name="bin"/>
          <dir
            name="lib"/>
          <dir
            name="node_modules">
            <dir
              name="source-map">
              <dir
                name="dist"/>
              <dir
                name="lib"/>
            </dir>
          </dir>
          <dir
            name="tools"/>
        </dir>
        <dir
          name="uglify-to-browserify">
          <dir
            name="test"/>
        </dir>
        <dir
          name="unpipe"/>
        <dir
          name="utils-merge"/>
        <dir
          name="vary"/>
        <dir
          name="void-elements">
          <dir
            name="test"/>
        </dir>
        <dir
          name="window-size"/>
        <dir
          name="with"/>
        <dir
          name="wordwrap">
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="yargs">
          <dir
            name="lib"/>
        </dir>
      </dir>
      <dir
        name="public">
        <dir
          name="stylesheets"/>
      </dir>
      <dir
        name="routes"/>
    </dir>
  </files>
  <annotations_options/>
  <comparison_options
    comparison_db=""/>
  <imports/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    assume_single_choices="false"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
